/* Add here all your CSS customizations */


.fleft                  { float:left!important; }
.fright                 { float:right!important; }
.no-float               { float:none!important; }
.cboth                  { clear:both!important; }
.cleft                  { clear:left!important; }
.cright                 { clear:right!important; }
.marginauto             {margin:auto!important;}
.marginauto-left        { margin-left:auto!important; }
.marginauto-right       { margin-right:auto!important; }
.no-margin              { margin:0!important; }
.no-margintop           { margin-top:0!important; }
.no-marginright         { margin-right:0!important; }
.no-marginbottom        { margin-bottom:0!important; }
.no-marginleft          { margin-left:0!important; }
.no-padding             { padding:0!important; }
.no-paddingleft         { padding-left:0!important; }
.no-paddingright        { padding-right:0!important; }
.no-paddingtop          { padding-top:0!important; }
.no-paddingbottom       { padding-bottom:0!important; }
.push-bottom            { /* margin-bottom: 30px; */ }
.push-top               { margin-top: 30px; }
.push-left              { margin-left: 30px; }
.dblock                 { display:block!important; }
.dtable                 { display:table!important; }
.dinline                { display:inline!important; float:none!important; }
.dinlineblock           { display:inline-block!important; float:none!important; }
.dinlinetable           { display:inline-table!important; }
.valign-top             { vertical-align: top;}
.valign-middle          { vertical-align: middle!important;}
.valign-bottom          { vertical-align: bottom;}
.hide                   { display:none!important; }
.hideAccessible         { position:absolute!important;top:-9999px!important; left:-9999px!important; }
.invisible              { visibility:hidden!important; }
.visible                { visibility:visible!important; }
.hide-onoverflow-x      { overflow-x: hidden;}
.hide-onoverflow-y      { overflow-y:hidden;}
.scroll-onoverflow-y    { overflow-y: scroll;}
.wdthauto               { width: auto!important; }
.hgtauto                { height: auto!important;}
.wdthinherit            { width: inherit!important; }
.pos_relative           { position:relative!important; }
.pos_absolute           { position:absolute!important; }
.pos_static             { position: static!important;}
.pos_bottom             { bottom:0!important;}
.pos_right              { right:0!important;}
.z-index-100            {z-index:1000;}
.height-vh              {height: 100vh;}
.pos_fixed              { position:fixed!important; }
*[data-toggle="collapse"]{ cursor: pointer;}
.push-top               {margin-top:35px;}
.opacity                {opacity:0.8;}
.min-height-new          {min-height: 320px!important;}
/*
TEXTO
------------------*/
.txtleft        { text-align:left!important; }
.txtright       { text-align:right!important; }
.txtjustify     { text-align:justify!important; }
.txtcenter      { text-align:center!important; }
.txtunder       { text-decoration: underline!important; }
.txtupper       { text-transform:uppercase!important; }
.txtbold        { font-weight: bold;}
.nowrap         { white-space:nowrap!important;}
.font-minor     { font-size:80%;}
.font-minor70     { font-size:70%;}
.icon-stack-minus{ font-size: 55%; margin-top: -3px;}
.font-size-em       {font-size: 2.5em!important;}
.min-h-p            {min-height: 72px}
.font-nes {font-family: "Desire"!important;}
.font-campanha,.ul-fontCampanha>li{font-family: 'Oswald';}
.h1-campanha{font-size: 5em!important;}
h4.font-campanha{font-size:1.4em;}
/*
LAYOUT
----------------*/
.no-border          { border:none!important; }
.no-border-radius   { border-radius:0px!important; }
.no-borderright     { border-right:none!important; }
.no-borderleft      { border-left:none!important; }
.no-borderbottom    { border-bottom:none!important; }
.no-bordertop       { border-top:none!important; }
.no-bullet          { list-style-type: none!important; outline: none;}
.no-bg              {background: transparent!important;}
.bg-white           {background-color: #fff!important;}

.valign-center{
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
.valign-center div{
 -webkit-flex: 1; /* Safari 6.1+ */
 flex: 1;
}
.nesBg-header{
	background:url(../img/bg_nes.jpg) no-repeat 50% 0%!important;
}
/* .fc-slideshow{
	background-color: #deba84;
} */
.pontos{
	font-size:3em!important;
	
}
.iconPontos{
	font-size:4em!important;
	
}
.pontosNumber{
	font-size:3em!important;
	

}
.home-concept-bg .line,.big-circle .line{
	    stroke:#060606;
}
.uneditable-input{
        width:50%;
    }
.fileupload .uneditable-input .fa {
	/* position: absolute; */
	top: 12px;
	font-size: 40px;
	margin-top: 70px;
}

.fileupload .uneditable-input .fileupload-preview {
	display: inline-block;
	/* float: left; */
	overflow: hidden;
	padding: 0 0 0 17px;
	margin-top: 10px;
	text-overflow: ellipsis;
	width: 100%;
}

.fileupload .btn {
	border-radius: 0;
}
.header-body #header-logo{
	height: 200px;
}
.sticky-header-active .header-body #header-logo{
	height: 110px!important;
}
.dropdown-menu{
	background:#543b27;
}
.dropdown-menu li a{
	color:#ffe09f!important;
}
.dropdown-menu li a:hover{
	background:#6c4c32!important;
}
.dropdown-menu li a{
	border-color:hsla(27, 37%, 10%, 1)!important;
}
.ponT{
	font-size:1.5em;
	color:#fff;
}